{% extends "admin/base.html" %}

{% load staticfiles i18n custom_admin_menu custom_admin_logo %}

{% block blockbots %}
    {{ block.super }}
    <script src="{% static "admin-menu.min.js" %}"></script>
    <link href="{% static "admin-menu.min.css" %}" rel='stylesheet' />
{% endblock %}

{% block nav-global %}
    {% get_admin_menu as menu %}

    {% if menu %}
    <div class="tabs">
        <ul>
            {% for title, item in menu.items %}
            <li class="{% if item.active %}active{% endif %}{% if item.children|length > 1 %} has-child{% endif %}">
                <a href="{{ item.url }}">{{ item.title }} {% if item.children|length > 1 %}<span class="arrow"></span>{% endif %}</a>

                {% if item.children|length > 1 %}
                <ul>
                    {% for sub in item.children %}
                        <li ><a href="{{ sub.url }}">{{ sub.title }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}

            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% for title, item in menu.items %}
        {% if item.active and item.children|length > 1 %}
        </div>
        <div id="secondary-nav">
            <ul>
            {% for sub in item.children %}
                <li class="{% if sub.active %}active{% endif %}"><a href="{{ sub.url }}">{{ sub.title }}</a></li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    {% endfor %}

{% endblock %}

{% block branding %}
    {% get_custom_logo as brandmark %}
    {% if brandmark %}
    <img src="{% static brandmark %}" id="branding" />
    {% endif %}
{% endblock %}
